@use "../abstract/variables" as vstyle;

#decouvrir {
    display: flex;
    justify-content: center;

    .decouverte {
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;

        .flex {
            display: flex;
            flex-direction: column;

            .ponts img {
                object-position: top;
            }

            .ponts:hover h4 {
                color: gray;
            }

            .chapelle img {
                object-position: center;
            }

            .chapelle:hover h4 {
                color: purple;
            }

            .parc img {
                object-position: center;
            }

            .parc:hover h4 {
                color: green;
            }

            .jardin img {
                object-position: center;
            }

            .jardin:hover h4 {
                color: blue;
            }
        }

        .frame {
            display: flex;
            align-items: center;
        }
    }
}

.commune {
    width: 80vh;
    display: flex;
    justify-content: center;

    .histoire {
        padding: 0 1rem;
        width: 100%;
        background-color: vstyle.$text-color;
        border-radius: 0.8rem;

        h3,
        p {
            color: white;
        }
    }
}

.activite {

    display: flex;
    justify-content: space-between;

    .sport img {
        object-position: center;
    }

}

.histoire-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    background-color: vstyle.$text-color;
    border-radius: 10px;

    .contain-histoire{
        max-width: 30%;
    }
    .contain-car {
      max-width: 40%;
    }
}