@use "../abstract/variables" as vstyle;

main {
    #Mairie {
        .container {
            display: flex;
            flex-direction: column;
        }
        .presentation {
            display: flex;
            gap: 2vh;
            height: 55.3vh;
            .presentation-text {
                width: 50%;
                background-color: vstyle.$text-color;
                color: white;
                padding: 2vh;
            }
            .presentation-img {
                width: 50%;
                border: 10;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}