@media screen and (max-width: 768px) {
    .container {
        max-width: 768px;
    }
        header {
            .container {
                nav {
                    display: none;
                }
                .menu {
                    display: flex;
                }
            }
        }
        main {
            #Mairie {
                .container {
                    .presentation {
                        flex-direction: column;
                        gap: inherit;
                        .presentation-text {
                            width: inherit;
                            box-shadow: inherit;
                            border-radius: inherit;
                            border-top-right-radius: 2vh;
                            border-top-left-radius: 2vh;
                        }
                        .presentation-img {
                            width: inherit;
                            img {
                                box-shadow: inherit;
                                border-radius: inherit;
                                border-bottom-left-radius: 2vh;
                                border-bottom-right-radius: 2vh;
                            }
                        }
                    }
                }
            }
    

    #equipe  {
        .container {
            .municipale {
                gap: 0;
                flex-direction: column;
                align-items: center;
                .municipale-img {
                    width: 100%;
                    height: 50vh;
                    img {
                        height: 100%;
                        border-radius: inherit;
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                    }
                }
                .municipale-text {
                    width: 100%;
                    border-radius: inherit;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    text-align: center;
                }
            }
        }
    }
    #horaire {
        .container {
            .horaire {
                flex-direction: column;
                .horaire-text {
                    width: 100%;
                    border-radius: inherit;
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                }
            }
        }
    }

    #actus {
        .space {
            flex-direction: column;
        }
        .grid {
            display: flex;
            flex-direction: column;
            .card-bis {
                height: inherit;
            }
        }
    }
    #event {
        .space {
            flex-direction: column;
        }
        .grid {
            display: flex;
            flex-direction: column;
            .card-bis {
                height: inherit;
            }
        }
    }
    #top {
        .histoire-wrapper {
            flex-direction: column;
            align-items: center;
            .contain-car {
                max-width: inherit;
            }
            .commune {
                width: inherit;
                .histoire {
                    text-align: center;
                }
            }
        }
    }
    #decouvrir {
        .decouverte {
            flex-direction: column;
            .card {
                width: inherit;
                height: 60vh;
            }
            .frame {
                justify-content: center;
                order: 3;
            }
        }
        
    }
    #activite {
        .activite {
            flex-direction: column;
            .card {
                width: inherit;
                height: 60vh;
            }
        }
    }
}

    #contactForm {
        display: flex;
        flex-direction: column;
    }

    footer {
        .container {
            justify-content: space-around;
            ul  {
                flex-direction: column;
                min-width: inherit;
            }
        }
    }
}