@use "../abstract/variables" as v;

.formulaire-container {
  background-color: v.$text-color;
  padding: 1rem;
  border-radius: 10px;
  margin: 2vh auto;
  color: v.$white;
  width: 80%;
  max-width: 1400px;
}

.formulaire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.formulaire-champ {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  

  label {
    margin-bottom: 0.5rem;
    color: v.$white;
  }

  input, textarea {
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }

  textarea {
    resize: vertical;
    min-height: 5vh;
  }

  &.champ-max {
    grid-column: 1 4;
    grid-row: 1 2;
  }

  &.conteneur-bouton {
    grid-column: 4;
    display: flex;
    justify-content: center;
    }
  }


.formulaire-message {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  background-color: v.$click-color;
  color: v.$text-color;

  &.hidden {
    display: none;
  }
}