@use "../abstract/variables" as vstyle;

footer {
    background-color: vstyle.$bg-color;
    .container {
        display: flex;
        gap: 10vh;
        align-items: center;
        justify-content: center;
        width: 90%;
        .footer-logo {
            width: 3.2rem;
            img {
                width: 100%;
            }
        }
        ul {
            display: flex;
            justify-content: space-around;
            min-width: 40vw;
            padding: 0;
            li {
                padding: 1vh;
                a {
                    text-decoration: vstyle.$style-less;
                    color: black;
                }
            }
        }
        .rs {
            display: flex;
            gap: 4vh;
        
        }
        .rs a:hover {
            opacity: 75%;
        }
    }   
}