@use "../abstract/variables" as vstyle;

header {
    background-color: vstyle.$bg-color;
    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        .header-img {
            width: 3.2rem;
            a { 
                img {
                    width: 100%;
                }
                img:hover {
                    opacity: 75%;
                }
            }
        }
        nav  { 
            min-width: 50vw;
            ul {
                display: flex;
                padding: 0;
                justify-content: space-between;
                li {
                    width: 100%;
                    text-align: center;
                    width: 135px;
                    a {
                        text-decoration: vstyle.$style-less;
                        font-size: 1.4rem;
                        
                        color: vstyle.$text-color;
                        text-decoration: underline 0.15em rgba(0, 0, 0, 0);
                        transition: text-decoration-color 300ms;
                    }
                    a:hover{
                        text-decoration-color: rgba(25,83,95, 1);
                    }         
                }      
            }   
        }
    }
}