header {
  background-color: #C3DAC3;
}
header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .container .header-img {
  width: 3.2rem;
}
header .container .header-img a img {
  width: 100%;
}
header .container .header-img a img:hover {
  opacity: 75%;
}
header .container ul {
  display: flex;
  gap: 8vh;
}
header .container ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: #19535F;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}
header .container ul li a:hover {
  text-decoration-color: rgb(25, 83, 95);
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 0;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
a {
  font-family: "Marianne";
}

h1,
h2 {
  font-size: 3rem;
  color: #19535F;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  font-family: "Spectral";
}

ul {
  list-style: none;
}

textarea, input, button {
  font-family: "Spectral";
}

main #Mairie .container {
  display: flex;
  flex-direction: column;
}
main #Mairie .presentation {
  display: flex;
  gap: 2vh;
  height: 55.3vh;
}
main #Mairie .presentation .presentation-text {
  width: 50%;
  background-color: #19535F;
  color: white;
  padding: 2vh;
}
main #Mairie .presentation .presentation-img {
  width: 50%;
  border: 10;
}
main #Mairie .presentation .presentation-img img {
  width: 100%;
  object-fit: cover;
}

footer {
  background-color: #C3DAC3;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .footer-logo {
  width: 3.2rem;
}
footer .container .footer-logo img {
  width: 100%;
}
footer .container ul {
  display: flex;
  gap: 20vh;
}
footer .container .rs {
  display: flex;
  gap: 4vh;
}

@font-face {
  font-family: "Marianne";
  src: url(../fonts/Marianne/Marianne-Regular.ttf);
}
@font-face {
  font-family: "Spectral";
  src: url(../fonts/Spectral/Spectral-Regular.ttf);
}
.btn {
  padding: 1.5vh 2vh;
  background-color: #FF7D00;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  color: #19535F;
  text-decoration: none;
  border: 2px solid #FF7D00;
  transition: 0.3s;
}

.btn:hover {
  background-color: #19535F;
  color: #FF7D00;
  border: 2px solid #FF7D00;
}

.formulaire-container {
  background-color: #19535F;
  padding: 1rem;
  border-radius: 10px;
  margin: 2vh auto;
  color: white;
  width: 80%;
  max-width: 1400px;
}

.formulaire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.formulaire-champ {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.formulaire-champ label {
  margin-bottom: 0.5rem;
  color: white;
}
.formulaire-champ input, .formulaire-champ textarea {
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.formulaire-champ textarea {
  resize: vertical;
  min-height: 5vh;
}
.formulaire-champ.champ-max {
  grid-column: 1 4;
  grid-row: 1 2;
}
.formulaire-champ.conteneur-bouton {
  grid-column: 4;
  display: flex;
  justify-content: center;
}

.formulaire-message {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #FF7D00;
  color: #19535F;
}
.formulaire-message.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
