header {
  background-color: #C3DAC3;
}
header .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}
header .container .header-img {
  width: 3.2rem;
}
header .container .header-img a img {
  width: 100%;
}
header .container .header-img a img:hover {
  opacity: 75%;
}
header .container nav {
  min-width: 50vw;
}
header .container nav ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
}
header .container nav ul li {
  width: 100%;
  text-align: center;
  width: 135px;
}
header .container nav ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #19535F;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}
header .container nav ul li a:hover {
  text-decoration-color: rgb(25, 83, 95);
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 0;
}

body {
  margin: 0;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  text-align: center;
}

h1,
h2,
h3,
h4,
a {
  font-family: "Marianne";
}

.menu {
  display: none;
}

h1,
h2,
h3 {
  font-size: 3rem;
  color: #19535F;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  font-family: "Spectral";
}

ul {
  list-style: none;
}

textarea,
input,
button {
  font-family: "Spectral";
}

main #Mairie .container {
  display: flex;
  flex-direction: column;
}
main #Mairie .container h1 {
  text-align: center;
}
main #Mairie .container .presentation {
  display: flex;
  gap: 6vh;
}
main #Mairie .container .presentation .presentation-text {
  width: 50%;
  background-color: #19535F;
  color: white;
  padding: 2vh;
  border-radius: 2vh;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
}
main #Mairie .container .presentation .presentation-img {
  width: 50%;
}
main #Mairie .container .presentation .presentation-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2vh;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #C3DAC3;
}
footer .container {
  display: flex;
  gap: 10vh;
  align-items: center;
  justify-content: center;
  width: 90%;
}
footer .container .footer-logo {
  width: 3.2rem;
}
footer .container .footer-logo img {
  width: 100%;
}
footer .container ul {
  display: flex;
  justify-content: space-around;
  min-width: 40vw;
  padding: 0;
}
footer .container ul li {
  padding: 1vh;
}
footer .container ul li a {
  text-decoration: none;
  color: black;
}
footer .container .rs {
  display: flex;
  gap: 4vh;
}
footer .container .rs a:hover {
  opacity: 75%;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  header .container nav {
    display: none;
  }
  header .container .menu {
    display: flex;
  }
  main #Mairie .container .presentation {
    flex-direction: column;
    gap: inherit;
  }
  main #Mairie .container .presentation .presentation-text {
    width: inherit;
    box-shadow: inherit;
    border-radius: inherit;
    border-top-right-radius: 2vh;
    border-top-left-radius: 2vh;
  }
  main #Mairie .container .presentation .presentation-img {
    width: inherit;
  }
  main #Mairie .container .presentation .presentation-img img {
    box-shadow: inherit;
    border-radius: inherit;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
  }
  #equipe .container .municipale {
    flex-direction: column;
    gap: inherit;
  }
  #equipe .container .municipale .municipale-img {
    width: 90%;
  }
  .formulaire {
    display: flex;
    flex-direction: column;
  }
  footer .container {
    justify-content: space-around;
  }
  footer .container ul {
    flex-direction: column;
    min-width: inherit;
  }
}
@font-face {
  font-family: "Marianne";
  src: url(../fonts/Marianne/Marianne-Regular.ttf);
}
@font-face {
  font-family: "Spectral";
  src: url(../fonts/Spectral/Spectral-Regular.ttf);
}
.btn {
  padding: 1.5vh 2vh;
  background-color: #FF7D00;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  color: #19535F;
  text-decoration: none;
  border: 2px solid #FF7D00;
  transition: 0.3s;
}

.btn:hover {
  background-color: #19535F;
  color: #FF7D00;
  border: 2px solid #FF7D00;
  cursor: pointer;
}

.search {
  padding: 1.5vh 2vh;
  background-color: none;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  color: #19535F;
  text-decoration: none;
  border: 2px solid #C3DAC3;
  transition: 0.3s;
}

.search:hover {
  color: #C3DAC3;
  border: 2px solid #19535F;
  cursor: pointer;
}

.formulaire-container {
  background-color: #19535F;
  padding: 1rem;
  border-radius: 10px;
  margin: 2vh auto;
  color: white;
  width: 80%;
  max-width: 1400px;
}

.formulaire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.formulaire-champ {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.formulaire-champ label {
  margin-bottom: 0.5rem;
  color: white;
}
.formulaire-champ input, .formulaire-champ textarea {
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.formulaire-champ textarea {
  resize: vertical;
  min-height: 5vh;
}
.formulaire-champ.champ-max {
  grid-column: 1 4;
  grid-row: 1 2;
}
.formulaire-champ.conteneur-bouton {
  grid-column: 4;
  display: flex;
  justify-content: center;
}

.formulaire-message {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #FF7D00;
  color: #19535F;
}
.formulaire-message.hidden {
  display: none;
}

.card {
  background-color: #19535F;
  width: 20vw;
  height: 35vh;
  border-radius: 0.8rem;
  margin: 1rem 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: white;
}
.card p,
.card h4 {
  margin: 1rem 0 0 0;
  padding: 0 1rem;
}
.card div {
  width: 100%;
  height: 40%;
}
.card div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-bis {
  background-color: #19535F;
  border-radius: 0.8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 40vh;
  width: 100%;
}
.card-bis h4 {
  font-size: 1.2rem;
  text-align: left;
  padding: 0 1rem;
  margin-top: 1rem;
}
.card-bis p {
  padding: 0 1rem;
  margin: 0.5rem 0;
  font-size: 0.95rem;
}
.card-bis .space {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.card-bis div:first-child {
  width: 100%;
  height: 40%;
}
.card-bis div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 35%;
}

#decouvrir {
  display: flex;
  justify-content: center;
}
#decouvrir .decouverte {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
#decouvrir .decouverte .flex {
  display: flex;
  flex-direction: column;
}
#decouvrir .decouverte .flex .ponts img {
  object-position: top;
}
#decouvrir .decouverte .flex .chapelle img {
  object-position: center;
}
#decouvrir .decouverte .flex .parc img {
  object-position: center;
}
#decouvrir .decouverte .flex .jardin img {
  object-position: center;
}
#decouvrir .decouverte .frame {
  display: flex;
  align-items: center;
}

.commune {
  width: 80vh;
  display: flex;
  justify-content: center;
}
.commune .histoire {
  padding: 0 1rem;
  width: 100%;
  background-color: #19535F;
  border-radius: 0.8rem;
}
.commune .histoire h3,
.commune .histoire p {
  color: white;
}

.activite {
  display: flex;
  justify-content: space-between;
}
.activite .sport img {
  object-position: center;
}

.container {
  overflow: hidden;
}

.carousel {
  position: relative;
}

.carousel-inner {
  display: flex;
  overflow: hidden;
  height: 50vh;
  flex-wrap: nowrap;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}

.slide img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-controls {
  position: absolute;
  z-index: 5;
  left: 10%;
  right: 10%;
  top: 50%;
  display: flex;
  justify-content: space-between;
}

.carousel-controls button {
  padding: 4px 10px;
  background-color: rgba(195, 218, 195, 0.5);
  border-radius: 10px;
}

.carousel-dots {
  position: absolute;
  z-index: 5;
  left: 50%;
  right: 50%;
  bottom: 10%;
  display: flex;
  justify-content: center;
}

.carousel-dots .dot {
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.carousel-dots .active {
  border: 10px solid #C3DAC3 !important;
}

.carousel-dots .inactive {
  border: 10px solid #19535F;
}

#equipe .container .municipale {
  display: flex;
  gap: 10vh;
}
#equipe .container .municipale .municipale-img {
  width: 30%;
}
#equipe .container .municipale .municipale-img img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}
#equipe .container .municipale .municipale-text {
  background-color: #19535F;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: 10px;
}

#horaire .container {
  display: flex;
  flex-direction: column;
}
#horaire .container .horaire {
  display: flex;
  justify-content: space-between;
}
#horaire .container .horaire .horaire-text {
  display: flex;
  flex-direction: column;
  background-color: #19535F;
  width: 30%;
  height: 400px;
  color: white;
  border-radius: 10px;
}
#horaire .container .horaire .horaire-text p {
  padding: 0 0 0 4vh;
}
#horaire .container .horaire .horaire-text h4:last-of-type {
  margin-bottom: 0;
}
#horaire .container .horaire .map iframe {
  border-radius: 10px;
}

#service .container .service {
  display: flex;
  justify-content: space-around;
}
#service .container .service ul {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
#service .container .service ul li a {
  text-decoration: none;
  color: gray;
}
#service .container .service ul li a:hover {
  color: black;
}

.separation {
  width: 90%;
  background-color: #C3DAC3;
  height: 2px;
  margin: 4vh auto;
}

.form-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.form-container {
  background-color: #C3DAC3;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container input, .form-container textarea {
  width: 95%;
  padding: 10px;
  margin: 5px 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form-container button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 95%;
  margin-top: 10px;
}

.form-container .cancel {
  background-color: #f44336;
  border-radius: 5px;
  width: 95%;
  margin-top: 10px;
  cursor: pointer;
}

.form-popup {
  animation: showModal 0.5s ease-in-out;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20vw;
  row-gap: 3rem;
  width: 100%;
  margin-top: 2rem;
}

.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.space .btn {
  margin: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
